.navbar-custom {
  margin-bottom: 0px;
  border: 0px;
}
.content-header {
  background: #ae3910;
  margin: 0 0 10px;
  padding: 10px;
  color: #FFF;
}
.content-header h1.page-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  margin: 3px;
}
.content-header form.search-form {
  margin: 3px 0 0;
}
